# https://git-scm.com/docs/gitignore

data/
raw_data/
*.pt

.snakemake*
.python-version

# Build
/dist/
/build/

# Cache
.cache/
.coverage*
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Editor
/.idea/
/.vscode/
.ipynb_checkpoints/

# Environs
.env
/.venv/

# Project
/docs/*
!**/.gitkeep

# Python
*.py[cod]
__pycache__/
