# https://git-scm.com/docs/gitignore

data/
raw_data/
previous_datas/
balanced_delfi_raw_data/
delfi1_raw_data/
accessibility_scores_with_gc_correction/
accessibility_scores_with_gc_correction_result/
accessibility_scores_without_gc_correction/
accessibility_scores_without_gc_correction_result/
mlp_cnn_across_cohort_training_result/
mlp_cnn_full_delfi1_training_raw_data/
mlp_cnn_full_delfi1_training_result/
mlp_cnn_part_of_delfi1_training_raw_data/
mlp_cnn_part_of_delfi1_training_result/
models/
raw_data_outdated/
results_04_across_cohort/
results_04_within_cohort/
vae_across_cohort_only_pos_lymphoid_72x192/
vae_across_cohort_training_result/
vae_full_delfi1_only_pos_lymphoid_72x192/
vae_full_delfi1_training_raw_data/
vae_full_delfi1_training_result/
vae_part_of_delfi1_only_pos_lymphoid_72x192/
vae_part_of_delfi1_training_raw_data/
vae_part_of_delfi1_training_result/
figures/
*.pt

.snakemake*
.python-version

# Build
/dist/
/build/

# Cache
.cache/
.coverage*
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Editor
/.idea/
/.vscode/
.ipynb_checkpoints/

# Environs
.env
/.venv/

# Project
/docs/*
!**/.gitkeep

# Python
*.py[cod]
__pycache__/
